body {
  display: flex;
  flex-direction: column;
  font-family: var(--mantine-font-family);
  color: #ffffff;
  background-color: var(--mantine-colors-dark-6);
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: #9feaf9;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a:hover {
  border-bottom: 1px solid;
}

.boolean-search {
  top: 20px;
  left: 20px;
  width: 400px;
}